@main("Todd Norris") {
    <div class="list is-hoverable">
        <a class="list-item" target="_blank" href="https://github.com/eidsonator/todd-norris-java-play">Hosted on github at: eidsonator/todd-norris-java-play</a>
        <a class="list-item" target="_blank" href="https://api.chucknorris.io/">Joked plagiarized from: chucknorris.io</a>
        <a class="list-item" target="_blank" href="https://www.playframework.com/">Backend Java framework: play framework</a>
        <a class="list-item" target="_blank" href="https://bulma.io/">CSS framework by: bulma</a>
    </div>
}
