@(message: String)

@main("Todd Norris") {
<div class="hero is-primary">
    <div class="hero-header">
        <h1>Todd Norris</h1>
    </div>
</div>
<div>
    <div id="joke" class="hero-body">

    </div>

    <button onclick="newJoke()">New Joke</button>

    <input class="form-control" placeholder="First Name" id="firstName"/>
    <input class="form-control" placeholder="Last Name" id="lastName"/>

    <button class="btn btn-success" onclick="changeName()">Submit</button>
</div>

<div class="hero is-primary">
    <div class="hero-footer">
        2019-ToddNorris
    </div>
</div>

}
